<article class="relative flex flex-col gap-2 justify-center rounded-lg border border-slate-400 px-4 shadow min-h-12 p-2 hover:bg-slate-50 focus:bg-slate-50">
  <%= link_to edit_note_path(note),
    id: dom_id(note),
    class: "text-lg" do %>
    <span class="absolute inset-0 z-10"></span>
    <%= note.title %>
  <% end %>

  <%# NOTE: must be on a single line, due to `whitespace: pre-line` %>
  <p class=" w-full h-full whitespace-pre-line"><%= note.content %></p>
</article>
