<div class="">
  <% flash.each do |type, message| %>
    <div class="<%= flash_color(type) %> flex items-center justify-center font-medium rounded-lg p-4">
      <%= message %>
    </div>
  <% end %>
</div>
